<form (ngSubmit)="onSubmit()" #formAdd="ngForm">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      placeholder="Example input placeholder"
      [(ngModel)]="product.name"
      name="name"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Price</label>
    <input
      type="number"
      class="form-control"
      placeholder="Another input placeholder"
      [(ngModel)]="product.price"
      name="price"
    />
  </div>
  <div class="mb-3">
    <button class="btn btn-success">add</button>
  </div>
</form>
