<main>
  <div class="pagenotfound-container">
    <h1 style="font-size: 4rem;">
      404 Not Found
    </h1>
    <div>
      <img
        src="https://res.cloudinary.com/linh-asm/image/upload/v1656390348/page%20not%20found%20iamge/jaconda-17_sbwbmn.gif"
        alt=""
      />
    </div>
    <div>
      <div class="text-center">
        <a  style="text-decoration: none ; color: gray;" routerLink="/"><img  width="10%" src="https://res.cloudinary.com/linh-asm/image/upload/v1656390642/icons/icons8-go-back_si8j95.svg" alt="">
          <span>Go Back</span>
         </a>
      </div>
    </div>
  </div>
</main>
