<div *ngIf="product">
  <mat-card class="w-50">
    <mat-card-header>
      <mat-card-title>
        <h1>{{ product.name }}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="grid-container">
        <div class="grid-item">
          <ngx-skeleton-loader
            count="10"
            *ngIf="!imageLoaded"
            appearance="line"
            animation="progress"
          >
          </ngx-skeleton-loader>
          <img
            [src]="product.image"
            alt="{{ product.name }}"
            class="w-100"
            (load)="checkImageLoaded()"
            (error)="handleMissingImage($event)"
          />
        </div>
        <div class="grid-item">
          <p>{{ product.description }}</p>
          <p><strong>Price:</strong> {{ product.price | currency }}</p>
          <p><strong>Category:</strong> Cars</p>
          <p><strong>Available:</strong> Ok</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
