<!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" routerLink="/">Quang Linh Shop</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{
              exact: true
            }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link "
            routerLink="shop"
            routerLinkActive="active"
            >Shop</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link "
            routerLink="sign-up"
            routerLinkActive="active"
            >Sign Up</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link "
            routerLink="admin"
            >Admin</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-dark" type="submit">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
        </button>
      </form>
    </div>
  </div>
</nav> -->
<!-- Start Top Nav -->
<nav
  class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block"
  id="templatemo_nav_top"
>
  <div class="container text-light">
    <div class="w-100 d-flex justify-content-between">
      <div>
        <i class="fa fa-envelope mx-2"></i>
        <a
          class="navbar-sm-brand text-light text-decoration-none"
          href="mailto:info@company.com"
          >info@company.com</a
        >
        <i class="fa fa-phone mx-2"></i>
        <a
          class="navbar-sm-brand text-light text-decoration-none"
          href="tel:010-020-0340"
          >010-020-0340</a
        >
      </div>
      <div>
        <a
          class="text-light"
          href="https://fb.com/templatemo"
          target="_blank"
          rel="sponsored"
          ><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i
        ></a>
        <a class="text-light" href="https://www.instagram.com/" target="_blank"
          ><i class="fab fa-instagram fa-sm fa-fw me-2"></i
        ></a>
        <a class="text-light" href="https://twitter.com/" target="_blank"
          ><i class="fab fa-twitter fa-sm fa-fw me-2"></i
        ></a>
        <a class="text-light" href="https://www.linkedin.com/" target="_blank"
          ><i class="fab fa-linkedin fa-sm fa-fw"></i
        ></a>
      </div>
    </div>
  </div>
</nav>
<!-- Close Top Nav -->

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container d-flex justify-content-between align-items-center py-4">
    <a
      class="navbar-brand text-success logo fs-xl align-self-center"
      routerLink="/"
    >
      QLINH STORE
    </a>

    <div class="">
      <div class="">
        <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
          <li class="nav-item px-5">
            <a
              class="nav-link"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{
                exact: true
              }"
              >Home</a
            >
          </li>
          <li class="nav-item px-5">
            <a class="nav-link" routerLink="shop" routerLinkActive="active"
              >Shop</a
            >
          </li>
          <li class="nav-item px-5" *ngIf="user" >
            <a class="nav-link" routerLink="admin" routerLinkActive="active"
              >Admin</a
            >
          </li>
          <li class="nav-item px-5">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="">
      <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
        <li class="nav-item" *ngIf="!user">
          <a class="nav-link" routerLink="sign-up">Sign In</a>
        </li>
        <li class="nav-item" *ngIf="user">
          <p class="nav-link" (click)="logOut()" >Logout</p>
        </li>
      </ul>
    </div>
  </div>
</nav>
